*.swo
*.swp
debugData.txt
*.png
adns_dll.dll
changelog
*.obj
*.res
*.log
*.tlog
*.lastbuildstate
*.pdb
GeneratedFiles/*
imp.txt
imp2.txt
*.dll
logs/*
*.vcxproj.*
*.vcxproj
*.aps
*.svg
Release/*
Debug/*
restore
result_files/*
*.bmp
*.bk


tags.txt
version
lisca.cpp
main - копия.cpp
result_files-*
*.BACKUP.*
*.LOCAL.*
*.REMOTE.*
*.BASE.*
*.o
nesca
moc_*
*~
*.user
Makefile
